.complete{
border: 2px solid green;
animation: 1s fadeIn ease-in-out;
background-color: #28ee00;
color: black;
}
.removeNote{
    animation:.5s removeNote ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes removeNote {
  from { opacity: 1; transform: scale(1);}
  to { opacity: 0; transform: scale(0);}
}
i{
    color: white;
}
#title-sectionA{
position: absolute;
color: white;
top: -35px;
left: 5.1%;

background-color: rgb(34, 34, 34);
background-color: rgb(80, 80, 80);

height: 35px;
display: flex;
justify-content: center;
align-items: center;
width: 125px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
// padding-left: 20px;
}
#title-sectionB{
position: absolute;
color: white;
top: -35px;
left: 5.1%;
background-color: rgb(34, 34, 34);
background-color: rgb(80, 80, 80);

height: 35px;
display: flex;
justify-content: center;
align-items: center;
width: 125px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
// padding-left: 20px;
}
#addNoteInput{
    position: absolute;
    border-radius: 0 0 8px 8px;
    top: 0;
    left: 0;
    
}
#addToDoInput{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 145px;
    width: 300px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;

    flex-direction: column;
    padding: 15px;
    
    user-select: none;
}
.visible{
    display: flex;
}
.notVisible{
    display: none;
}
#toDoInputDiv{
    width: 100%;
    height: 50%;
    display: flex;flex-direction: column;
    
}

#addToDoInputText{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
}
#addToDoInputText::placeholder{
    color: rgb(121, 121, 121);

}
#addToDoInputText:focus{
    outline: none;
  
    // border: 2px solid rgb(53, 53, 53);
    border-radius: 5px;
}

#addToDoBtn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#addNoteBtn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}














#noteInputDiv{
    position: absolute;
    
    
    
    border-radius: 8px 8px 8px 8px;
    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 410px;
    padding: 5px;
    background-color: #000000;
    
    
}
#addNoteTitleInput, #addNoteTextInput{
    width: 100%;
    border: none;
   padding: 10px;
    box-sizing: border-box;
    background-color:transparent;
    color: white;
    border-radius: 5px;

}
#addNoteTitleInput{
    font-size: 20px;
    height: 40px;
}
#addNoteTextInput{
    max-width: 290px;
    min-height: 290px;
    resize: none;
    font-size: 17px;
}
#addNoteTitleInput::placeholder, #addNoteTextInput::placeholder{
    color: rgb(121, 121, 121);
}
#addNoteTitleInput:focus, #addNoteTextInput:focus{
    outline: none;
    

}
/* Oculta el track, deja visible solo el thumb */
::-webkit-scrollbar {
  width: 4px; /* o el ancho que quieras */
}

/* Fondo invisible */
::-webkit-scrollbar-track {
  background: transparent;
}

/* El pulgar visible */
::-webkit-scrollbar-thumb {
  background-color: #888;  /* color del thumb */
  border-radius: 4px;
}

/* Hover opcional */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

#buttonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
#buttonDivToDo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
#buttonDivToDo button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#buttonDiv button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.trashButton{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    }
.toDoCheck{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
    